::-webkit-scrollbar {
  display: none;
}
.ui-container {
  --n-bradius: 0.25em;
  --t-transition: 150ms;
  --n-header: 2em;
}

.ui-container.theme-a {
  --c-main: #222;
  --c-sub: #cdcdcd;
  --c-secondary: #fefefe;
  --c-accent: #009fea;
  --c-success: #11e111;
  --c-warning: #f8de00;
  --c-failure: #f12330;
}

.ui-container.theme-b {
  --c-main: #efefef;
  --c-sub: #cdcdcd;
  --c-secondary: #222;
  --c-accent: #009fea;
  --c-success: #11e111;
  --c-warning: #f8de00;
  --c-failure: #f12330;
}

.ui-container {
  z-index: 99;
  position: fixed;
  width: 95%;
  max-width: 45em;
  height: 20em;
  right: 1em;
  top: -20em;
  padding: 7.5em 0.5em 0.5em 0.5em;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  transition-duration: var(--t-transition);
  transition-property: top, box-shadow;
  transition-timing-function: ease-out;
  color: var(--c-main);
  background-color: var(--c-secondary);
  font-size: small;
}

.ui-container[visible] {
  top: -7em;
  box-shadow: 0 0.3em 0.6em #62708540;
}

/* @media (max-width: 768px) {
  .top {
    margin-right: 2em;
  }
} */

.ui-container button {
  padding: 0.25em 0.5em;
  background: inherit;
  color: var(--c-main);
  border: 0.1em solid var(--c-sub);
  border-radius: var(--n-bradius);
  transition: none;
}
.ui-container button:active {
  color: var(--c-accent);
  border-color: var(--c-accent);
}

.ui-container .hanger {
  z-index: 0;
  position: absolute;
  top: 99%;
  right: 0;
  width: 3.33em;
  height: 3.33em;
  border-radius: 0 0 var(--n-bradius) var(--n-bradius);
  padding: 0.5em;
  background-color: var(--c-secondary);
  box-shadow: 0 0.5em 0.5em #62708540;
}

/* ======================= */

.ui-container > .content {
  display: flex;
  flex-direction: row;
}

.ui-container li,
.ui-container ul {
  list-style: none;
}

/* ======================= */

.ui-container > .content > * {
  flex: 1 1 30%;
  padding: 0.25em;
  margin: 0;
}

.ui-container .title {
  font-variant-caps: all-small-caps;
  text-align: center;
  padding-bottom: 0.25em;
  /* border-bottom: 0.1em solid var(--c-sub); */
}

.ui-container > .content .dataless-step {
  text-align: right;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-container > .content .dataless-step > * {
  display: flex;
  flex-direction: row;
  padding: 0.25em;
}

.ui-container > .content .segments .dataless-step > * {
  display: inherit;
  text-align: center;
}

.ui-container .arrows {
  color: var(--c-sub);
  flex: 0 0 auto;
}

.ui-container .cbds .content {
  text-align: right;
}

.ui-container .leaves .content *[title] > *,
.ui-container .cbds .content *[title] > * {
  flex: 0 1 50%;
  text-align: left;
}

.ui-container .leaves .content *[title] > *:first-child,
.ui-container .cbds .content *[title] > *:first-child {
  color: var(--c-sub);
  text-align: right;
  padding-right: 0.5em;
}

/* ======================= */

.ui-container .sparkline {
  --high: 1.5em;
  --thick: 0.1em;
  position: relative;
  /* display: inline-block; */
  width: 4em;
  height: calc(var(--high));
}

.ui-container .sparkline.sparkruler::before {
  content: "";
  display: block;
  width: 100%;
  height: calc(var(--high) / 2);
  border-bottom: var(--thick) solid var(--c-sub);
}

.ui-container .sparkline .grades {
  position: absolute;
  top: calc(var(--high) / 4 - (var(--thick) * 0.5));
  width: 100%;
  height: calc(var(--high) / 2);
}

.ui-container .sparkline .grade {
  float: left;
  /* width: from JS, style */
  height: 100%;
  filter: saturate(50%);
}

/* note: last child is the marker */
.ui-container .sparkline .grade:not(:nth-child(-1)) {
  border-right: var(--thick) solid var(--c-secondary);
}

.ui-container .sparkline .grade:not(:first-child) {
  border-left: var(--thick) solid var(--c-sub);
}

.ui-container .sparkline .marker {
  position: absolute;
  /* width: from JS, style */
  height: 100%;
  border-right: calc(var(--thick) * 1.5) solid var(--c-main);
  display: flex;
  align-items: center;
  transition: width ease-out var(--t-transition);
}

.ui-container .sparkline .marker:after {
  content: "";
  display: block;
  width: 100%;
  height: calc(var(--thick) * 1.5);
  background: var(--c-main);
  filter: opacity(75%);
}

/* ----------------------- */
.ui-container .sparkline.sparkhistogram .columns {
  display: flex;
  height: 100%;
  /* border-top: var(--thick) dotted var(--c-sub); */
  /* border-bottom: var(--thick) dotted var(--c-sub); */
  background: #f6f6f6;
  align-items: flex-end;
}

.ui-container .sparkline.sparkhistogram .column {
  flex: 1 1 auto;
  margin-left: var(--thick);
  background: var(--c-main);
  transition: height ease-out var(--t-transition);
  margin-top: -0.1em;
}
/* ======================= */

.ui-container > .controls {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container#Using_auto_margins_for_main_axis_alignment */
  margin-top: auto;
}
