::-webkit-scrollbar {
  display: none;
}

body {
  --s-bradius: 0.75em;
  --s-bradius2: 1.5em;
  --t-transition: 150ms;
  --s-height: 36em;
  --s-padding: 0.5em;
}

body,
.ui-container.theme-a {
  --c-main: #333;
  --c-sub: #c0c0c0;
  --c-sub-sub: #f7f7f7;
  --c-secondary: #fefefe;
  --c-accent: #1181ff;
  --c-accent2: #e4f0fe;
  --c-success: #11e111;
  --c-warning: #f8de00;
  --c-failure: #f12330;
}

.ui-container.theme-b {
  --c-main: #efefef;
  --c-sub: #fafafe;
  --c-sub-sub: #ddd;
  --c-secondary: #222;
  --c-accent: #1181ff;
  --c-accent2: #e4f0fe;
  --c-success: #11e111;
  --c-warning: #f8de00;
  --c-failure: #f12330;
}

.ui-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  max-width: 64em;
  height: var(--s-height);
  bottom: 0em;
  right: 0;
  transform: translateY(var(--s-height));
  transition-property: transform, box-shadow;
  transition-duration: var(--t-transition);
  transition-timing-function: ease-out;
  color: var(--c-main);
  background-color: var(--c-secondary);
  border: 0.1em solid var(--c-sub);
  border-style: solid none none solid;
  display: flex;
  flex-flow: column;
  font-size: small;
  font-family: "Lato", Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.ui-container[visible] {
  transform: translateY(-1 * calc(var(--s-height) + 2 * var(--s-padding)));
  box-shadow: 0 -0.3em 0.5em -0.3em #62708540;
}

.ui-container .hanger {
  z-index: 98;
  position: absolute;
  bottom: 99.9%;
  right: 0;
  width: 4.2rem;
  height: 3.4rem;
  /* border: 0.1em solid var(--c-sub); */
  /* border: none; */
  /* border-style: solid none none solid; */
  border-radius: var(--s-bradius) 0 0 0;
  padding: 0.7em 0.4em 0.3em 0.4em;
  background-color: var(--c-secondary);
  box-shadow: -0.2em -0.2em 0.5em -0.2em #62708540;
}

/* ----------------------- */
.ui-container button {
  margin: var(--s-padding);
  padding: 0.25em 0.75em;
  background: inherit;
  color: var(--c-main);
  border: 0.1em solid var(--c-sub);
  border-radius: var(--s-bradius);
  transition: none;
}

.ui-container button:active {
  color: var(--c-accent);
  border-color: var(--c-accent);
}

.ui-container li,
.ui-container ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-container .sub {
  font-size: smaller;
  color: var(--c-sub);
}

/* ----------------------- */
.ui-container > .content {
  flex: 0 1 auto;
  overflow: hidden;
  justify-content: flex-end;
  display: flex;
  flex-flow: row wrap;
}

/* ======================= */
.ui-container .leaves,
.ui-container .cbds,
.ui-container .personas {
  flex: 1 1 30%;
  overflow: hidden;
  padding: 0 var(--s-padding);
}

.ui-container > .content > .cbds {
  flex-grow: 2;
}

@media (max-width: 333px) {
  .ui-container > .content > .cbds {
    flex: 0 0 0;
    padding: 0;
  }
}

/* ----------------------- */
.ui-container > .content > div > .title {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0.75em;
  border-bottom: 0.1em solid var(--c-sub-sub);
}

.ui-container > .content > div > .title > * {
  margin: auto 0;
}

.ui-container > .content > div > .title > .number {
  --s: 1.7em;
  margin: 0.5em;
}

.ui-container > .content > div > .title > .number > div {
  color: var(--c-sub);
  border: 0.13em solid var(--c-sub);
  border-radius: 100%;
  width: var(--s);
  height: var(--s);
  /* line-height: var(--s); */
  text-align: center;
  font-size: calc(0.5 * var(--s));
  font-weight: normal;
}

/* ----------------------- */
.ui-container > .content > div > .content > * {
  margin: 0.5em 0.5em 0.75em 0.5em;
  height: 4.5em;
}

.ui-container .leaves .content .activity-count,
.ui-container .cbds .content .activity-count {
  font-size: large;
}

/* ----------------------- */
.ui-container .leaves .content {
}

.ui-container .leaves .activity-data {
  display: flex;
}

.ui-container .leaves .activity-data > * {
  flex: 1 1 50%;
}

.ui-container .leaves .activity-data > .sparkline {
  flex: 1 2 auto;
  max-width: 6em;
}

/* ----------------------- */
.ui-container .cbds .cbd-list {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  box-shadow: inset -0.3em 0 0.2em -0.2em #0000000f,
    inset 0.3em 0 0.2em -0.2em #0000000f;
  padding: 0 0.5em;
}

.ui-container .cbds .cbd-list .cbd-value {
  flex: 1 0 auto;
  border: 0.1em solid var(--c-sub);
  border-radius: var(--s-bradius);
  padding: 0.5em;
  margin: 0.25em;
  text-transform: capitalize;
  text-align: center;
  z-index: -1;
}

.ui-container .cbds .cbd-list .cbd-value .avatar {
  padding: 0;
  height: 1.25em;
  float: none;
}

.ui-container .cbds .cbd-list .cbd-value.active {
  color: var(--c-accent);
  border-color: var(--c-accent);
}

/* ----------------------- */
.ui-container .personas {
  display: flex;
  flex-flow: column;
  flex: 0 0 100%;
}

.ui-container .personas > .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.ui-container > .content > div > .content > .persona {
  flex: 0 1 12em;
  /* width: 45%; */
  height: 3.4em;
  display: inline-block;
  overflow: hidden;
  padding: 0.25em;
  border: 0.1em solid var(--c-sub);
  border-radius: var(--s-bradius);
  color: var(--c-main);
  text-transform: capitalize;
}

.ui-container > .content > div > .content > .persona.active {
  color: var(--c-accent);
  border-color: var(--c-accent);
}

.ui-container .persona > div {
  padding: 0 0.25em;
  display: inline-block;
}

.avatar {
  padding: 0 0.25em;
  width: 2.75em;
  height: 3em;
  float: left;
  filter: brightness(0.8);
}

.ui-container .persona.active .avatar,
.ui-container .cbds .cbd-list .cbd-value.active .avatar {
  /* total hardcoded, poke & see values */
  filter: contrast(0.9) hue-rotate(365deg) saturate(15) brightness(0.9);
}

@media (max-width: 333px) {
  /* .ui-container .persona .avatar {
    display: none;
  } */
}

.ui-container .persona .title {
  font-weight: bold;
}

.ui-container .persona .description {
  opacity: 0.75;
  font-size: x-small;
}

/* ======================= */
.sparkline {
  --high: 100%;
  --thic: 0.1em;
  --radi: 0.2em;
  position: relative;
  width: 100%;
  height: var(--high);
  align-self: center;
}

/* ----------------------- */
.sparkline.sparkgauge {
  --high: 0.5em; /* height: 100%; */
}

.sparkline.sparkgauge .grades {
  position: absolute;
  /* top: calc(var(--high) / 4 - (var(--thic) * 0.5)); */
  width: 100%;
  height: var(--high);
  display: flex;
}

.sparkline.sparkgauge .grade {
  flex: 1 1 auto;
  /* width: from JS, style */
  height: 100%;
  background: #f7f7f7;
  border-radius: var(--radi);
  /* margin: 0 0.1em 0 0; */
}

.sparkline.sparkgauge .marker {
  position: absolute;
  /* width: from JS, style */
  height: 100%;
  background: var(--c-accent);
  /* background: linear-gradient(     90deg,     var(--c-accent),     var(--c-accent) calc(33% - 0.05em),     var(--c-accent2) calc(33% - 0.05em),     var(--c-accent2) calc(33% + 0.05em),     #8BC34A calc(33% + 0.05em),     #8BC34A calc(66% - 0.05em),     var(--c-accent2) calc(66% - 0.05em),     var(--c-accent2) calc(66% + 0.05em),     var(--c-accent) calc(66% + 0.05em),     var(--c-accent) 100%   ); */
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: var(--radi);
  display: flex;
  transition: width ease-out var(--t-transition);
}

/* ----------------------- */
.sparkline.sparkruler {
  --high: 1em;
}

.sparkline.sparkruler::before {
  content: "";
  display: block;
  width: 100%;
  height: calc(var(--high) / 2);
  border-bottom: var(--thic) solid var(--c-sub);
}

.sparkline.sparkruler .grades {
  position: absolute;
  top: calc(var(--high) / 4 - (var(--thic) * 0.5));
  width: 100%;
  height: calc(var(--high) / 2);
}

.sparkline.sparkruler .grade {
  float: left;
  /* width: from JS, style */
  height: 100%;
  filter: saturate(50%);
}

/* note: last child is the marker */
.sparkline.sparkruler .grade:not(:last-child) {
  border-right: var(--thic) solid var(--c-secondary);
}

.sparkline.sparkruler .grade:not(:first-child) {
  border-left: var(--thic) solid var(--c-sub);
}

.sparkline.sparkruler .marker {
  position: absolute;
  /* width: from JS, style */
  height: 100%;
  border-right: calc(var(--thic) * 1.5) solid var(--c-accent);
  display: flex;
  align-items: center;
  transition: width ease-out var(--t-transition);
}

.sparkline.sparkruler .marker:after {
  content: "";
  display: block;
  width: 100%;
  height: calc(var(--thic) * 1.5);
  background: var(--c-accent);
  filter: opacity(75%);
}

/* ----------------------- */
.sparkline.sparkhistogram {
  --high: 2em;
}

.sparkline.sparkhistogram .columns {
  display: flex;
  height: 100%;
  /* border-top: var(--thic) dotted var(--c-sub); */
  /* border-bottom: var(--thic) dotted var(--c-sub); */
  background: var(--c-sub-sub);
  align-items: flex-end;
}

.sparkline.sparkhistogram .column {
  flex: 1 1 auto;
  margin-left: var(--thic);
  background: var(--c-accent);
  transition: height ease-out var(--t-transition);
  margin-top: -0.1em;
  border-radius: var(--radi);
}

/* ======================= */
.ui-container .control {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 64em;
  padding: var(--s-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1em solid var(--c-sub-sub);
}

.ui-container .control button.clear {
  filter: opacity(0.5);
}

.ui-container a.read-more {
  font-variant-caps: all-small-caps;
  margin: var(--s-padding);
}

/* ======================= */

textarea#sentiment-input {
  margin: 0.5em auto;
  border: 0.1em solid var(--c-sub);
  border-radius: var(--s-bradius);
  font-size: large;
}

#sentiment-input-label {
  color: var(--c-accent);
  margin-top: 1em;
  font-weight: bold;
  font-size: large;
  text-align: center;
  width: 100%;
}

/* ======================= */
@media (max-width: 768px) {
  .ui-container {
    border: none;
  }

  .ui-container .leaves .content {
  }

  .ui-container .persona .icon {
    display: none;
  }
}
